SHADER_VERT_MODEL           RCDATA "shaders/model.vsh"
SHADER_FRAG_GRID            RCDATA "shaders/grid.fsh"
SHADER_VERT_SCREEN          RCDATA "shaders/post/screen.vsh"
SHADER_FRAG_SCREEN          RCDATA "shaders/post/screen.fsh"
SHADER_FRAG_FXAA            RCDATA "shaders/post/fxaa.fsh"
SHADER_FRAG_OUTLINE         RCDATA "shaders/post/outline.fsh"
SHADER_FRAG_DEFAULT_BASIC   RCDATA "shaders/default/basic.fsh"
SHADER_FRAG_DEFAULT         RCDATA "shaders/default/default.fsh"
SHADER_FRAG_DDP_BACKGROUND  RCDATA "shaders/ddp/background.fsh"
SHADER_FRAG_DDP_PEEL        RCDATA "shaders/ddp/peel.fsh"
SHADER_FRAG_DDP_BACKBLEND   RCDATA "shaders/ddp/backblend.fsh"
SHADER_FRAG_DDP_FINAL       RCDATA "shaders/ddp/final.fsh"
SHADER_FRAG_META            RCDATA "shaders/meta/meta.fsh"